* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.bg-body{
  width: 100%;  
  background-image: linear-gradient(rgba(16, 27, 51, 0.6), rgba(16, 27, 51, 0.6)),
  url(./flagscountries.jpg);
  background-repeat: repeat; 
  background-attachment: fixed;
  font-family: 'Barlow Semi Condensed', sans-serif;
}